<div class='col-lg-6'>
  <div class='well'>

  <!-- WRITE THE CORRECT FORM HEADER AND BLOCK USING ERB -->
    <% if @errors.any? %>
      <div id="error_explanation">
				<h2>
					<%= pluralize(@errors.count, "error") %> prohibited this comic from being saved:
				</h2>
        <ul>
					<% @errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
        </ul>
      </div>
    <% end %>

		<%= form_for @comic, :url => {:action => "create"}, method: "put" do |c| %>
			<div class="form-group">
				<%= c.label :title %>:
				<%= c.text_field :title, class: 'form-control' %>
			</div>
			<div class="form-group">
				<%= c.label :description %>:
				<%= c.text_field :description, class: 'form-control' %>
			</div>
			<div class="form-group">
				<%= c.label :image_url %>:
				<%= c.text_field :image_url, class: 'form-control' %>
			</div>
			<div class="actions">
				<%= c.submit class:'btn btn-primary' %>
			</div>
		<% end %>
  </div>
</div>
